<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JIRAConnector.Communication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JIRAConnector.Communication.Properties.Settings>
            <setting name="JIRAConnector_Communication_JiraWebService_JiraSoapServiceService"
                serializeAs="String">
                <value>http://jira.hq.quadratica.com.ar:9091/rpc/soap/jirasoapservice-v2</value>
            </setting>
        </JIRAConnector.Communication.Properties.Settings>
    </applicationSettings>
</configuration>